@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  color: black;
  background: white;
}

.square {
  display: flex;
  height: 0;
  padding-bottom: 100%;
  width: 100%;
  position: relative;
}