.navbar {
    width: 100%;
    position: fixed;
}

.blur {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background-color: white;
}

.open {
    transform: translateY(0);
    transition-duration: 400ms;
}

.close {
    transform: translateY(-140%);
    transition-duration: 400ms;
}
